*{
  font-family: sans-serif;
}
body {
	margin: 0;
}

#map {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	background: #C6C6C6;
}

#searchContainer{
  position: absolute;
  max-width: 400px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: 0px;
  left: 0;
  right: 0;
}

.leaflet-right {
  margin-right: 0px;
  transition: margin 0.2s ease-in;
}

.updateMessage{
  display: none;
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 5px;
  background: rgba(46, 49, 59, 0.95);;
  color: whitesmoke;
  pointer-events: none;
  cursor: default;
  pointer-events: none;
  z-index: 1001;
}

td.table-title{
	font-weight: 600;
}

.leaflet-control-layers,
.leaflet-control-layers-expanded{
  display: none;
  border-radius: 0px;
  border: 0;
  background: rgba(46, 49, 59, 0.95);
  color: whitesmoke;
}

.leaflet-control-layers-expanded{
  padding: 12px 16px 12px 16px;
}

.leaflet-control{
  box-shadow: 1px 2px 3px rgba(0,0,0,0.4) !important;
  border-radius: 2px;
}

.leaflet-control-scale{
  pointer-events: none;
  cursor: default;
}

.leaflet-control-scale-line{
	transition: width 0.2s ease-out;
}

.leaflet-control-zoom{
  border: 0;
  border-radius: 2px;
  display: none;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover{
  background: #3b3d41;
}

.leaflet-bar a,
.leaflet-bar a.leaflet-disabled {
  background: rgba(46, 49, 59, 0.95);;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out{
  transition: background 0.25s ease-out;
  background: rgba(46, 49, 59, 0.95);;
  color: whitesmoke;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.leaflet-control-zoom-in{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.leaflet-control-zoom-out{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip{
  border-radius: 2px;
  background: rgba(46, 49, 59, 0.95);;
  color: whitesmoke;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar{
  background-clip: initial;
  border-radius: 2px;
}

.leaflet-bottom .leaflet-left,
.leaflet-bottom .leaflet-control-scale,
.leaflet-left .leaflet-control-scale{
  margin-left: 10px;
}

.leaflet-left .leaflet-control-scale{
  margin-bottom: 10px;
}

.leaflet-touch .leaflet-control-layers {
  border: 0 !important;
}

.leaflet-control-layers-base > label{
  cursor: pointer;
}

.leaflet-control-layers-base > label:hover{
  background: rgba(0, 173, 255, 0.25);
}

.legend{
  border-radius: 2px;
  background: rgba(46, 49, 59, 0.95);
  color: whitesmoke;
  padding: 10px;
  z-index: 1001;
  width: 180px;
  margin-top: 60px !important;
}

.legendGroupContainer{
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.legendGroupContainer:first-of-type > .legendHeading{
  margin-top: 2px;
}

.legendElement{
  background: rgba(255, 255, 255, 0.1);
  padding-top: 2px;
  padding-bottom: 0px;
  cursor: pointer;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

.legendElement.selected{
  background: rgba(93, 160, 191, 0.9);
  color: whitesmoke;
  font-weight: 600;
}


.legendElement:hover:not(.selected),
.legendHeading:hover:not(.open),
.legendHeading.open{
  background: rgba(0, 173, 255, 0.25);
}

.legendHeading{
  margin: 0;
  margin-top: 10px;
  padding-left: 6px;
  cursor: pointer;
  border-bottom: 1px solid white;
}

.legendColor{
  margin: 0;
  padding-left: 6px;
  height: 16px;
  width: 16px;
  margin-top: 2px;
  margin-bottom: 0;
}

.legendText{
  float: right;
  margin: 0;
  padding-left: 10px;
  padding-right: 6px;
}

.layerHeading{
  margin: 0;
  padding-left: 4px;
  padding-bottom: 2px;
}

.opacityControl{
  display: none;
  height: 6px;
  width: 200px;
  background: rgba(46, 49, 59, 0.95);;
}

.circleSelector{
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-top: -4px;
  margin-left: -6px;
  cursor: w-resize;
  position: absolute;
  left: 100px;
  background: rgb(65, 128, 206);
  border: 1px solid rgba(78, 120, 140, 0.9);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
}

@media screen and (min-width: 610px) {
  .legend{
    margin-top: 10px !important;
  }

  .leaflet-control-zoom,
  .opacityControl,
  .updateMessage{
    display: block;
  }
}

@media screen and (min-width: 810px) {
  #searchContainer{
    margin-left: auto;
    margin-right: auto;
  }

  .leaflet-control-layers{
    display: block;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 #searchContainer {
    width: 400px;
    margin-top: 10px;
  }
}
